{% extends 'base.html' %}

{% block title %}
<title>Основная информация</title>
{% endblock %}

{% block body %}
<div class = "container">
    <h1>Основная информация</h1>
    <p>официальный сайт журнала Psychologies (Психoлоджиc). На его страницах мы говорим о психологии, о смысле того, что с нами происходит в жизни, – интересно, просто, ясно, не искажая сути. Каковы скрытые мотивы наших поступков? Чем определяется тот или иной жизненный выбор? В чем причины наших успехов и неудач? Как наладить личную жизнь и найти настоящую любовь? Как раскрыть сексуальность, научиться слушать себя и своего партнера? Что значит быть «хорошей матерью» (или отцом)? Чем может помочь психотерапия и по каким критериям следует выбирать психотерапевта? Наконец, каково точное значение таких терминов, как психодиагностика, психоанализ и психология?</p>
</div>
{% endblock %}

